.calculator-container{
    width: 255px;
    height: 440px;
    background-color: black;
    margin-left: 480px;
    margin-top: 50px;
}

.screen-container{
    height: 90px;
    background-color: black;
    width: 235px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.screen{
    position: absolute;
    left: 0%;
    bottom: 0%;
    font-size: 25px;
    color: white;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.g-button{
    background-color: rgb(83, 82, 82);
    color: white;
    border: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 50px;
    border-radius: 45px;
    margin-left: 9px;
    margin-right: 0px;
    padding: 0px;
    cursor: pointer;
}
.o-button{
    background-color: orange;
    color: white;
    border: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 50px;
    border-radius: 45px;
    margin-left: 6px;
    margin-right: 0px;
    padding: 0px;
    cursor: pointer;
}
.clear-button{
    background-color: rgb(83, 82, 82);
    color: white;
    border: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 50px;
    border-radius: 45px;
    margin-left: 6px;
    margin-right: 0px;
    padding: 0px;
    cursor: pointer;
}
